.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-paragraph-container {
  width: 350px;
  margin-bottom: 20px;
  text-align: center;
}

.header-container {
  align-items: flex-start;
  width: 400px;
}

.app-image {
  width: 400px;
  margin-top: 0;
}

.add-button-main {
  color: white;
  background-color: #0058ab;
  border: none;
  padding: 10px 60px;
  border-radius: 30px;
  font-family: "Poppins";
  cursor: pointer;
}
