/* RESETS */

@font-face {
  font-family: 'NotoSants-regular';
  src: url(../src/assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: 'NotoSants-bold';
  src: url(../src/assets/fonts/NotoSans-Bold.ttf);
}

html {
  font: 62.5% / 1.15 sans-serif;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font: 1.6rem/1.25 'NotoSants-regular';
  background-color: #FFFFFF;
  color: #000000;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/


