/* ADD ITEM STYLES*/
.add-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-input {
  margin-right: 20px;
  font-family: 'NotoSants-regular';
  font-size: 14px;
}

.add-button {
  color: white;
  background-color: #0058AB;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'NotoSants-regular';
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.add-button:hover{
  background-color: #ffcc00;
  color: white;
} 